@{
    Layout= "MasterPage";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>≧◡≦</title>
</head>

<body>
    <label>
        <input type="text" value="nome">
    </label>

    <label>
        <input type="text" value="email">
    </label>

    <label>
        <input type="password" value="senha">
    </label>

    <label>
        <input type="text" value="">
    </label>
    
    <input type="submit" value="">
</body>

</html>